@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-nunito);
  --font-cute: var(--font-vibur);
}

@utility typeface-title-main {
  font-family: var(--font-vibur);
  font-size: var(--text-7xl);
}

@utility typeface-entry-title {
  font-family: var(--font-vibur);
  font-size: var(--text-3xl);
  line-height: 1;
}
